@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Efek Grain Mewah */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* Tekstur noise halus */
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  filter: contrast(120%) brightness(100%);
  opacity: 0.04; /* Sangat tipis, jangan terlalu tebal */
  z-index: 9999; /* Di atas segalanya agar menyatu */
}

html, body {
  cursor: none !important;
}
a, button {
  cursor: none !important;
}
body {
  background: #000000; 
  color: #ffffff;
  overflow-x: hidden; 
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%); 
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%); 
  }
  100% {
    transform: translateX(0%); 
  }
}

.animate-marquee {
  display: flex;
  width: max-content; 
  animation: marquee 30s linear infinite; 
}

.animate-marquee-reverse {
  display: flex;
  width: max-content;
  animation: marquee-reverse 30s linear infinite;
}


.group:hover .animate-marquee,
.group:hover .animate-marquee-reverse {
  animation-play-state: paused;
}