@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: #000000; /* Pastikan murni hitam */
  color: #ffffff;
  overflow-x: hidden; /* Mencegah gradasi melebar ke samping */
}