@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: #000000; /* Pastikan murni hitam */
  color: #ffffff;
  overflow-x: hidden; /* Mencegah gradasi melebar ke samping */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
  /* 30s bisa diganti: lebih kecil = lebih cepat */
}

/* Hover pause optional (bagus untuk UX) */
.hover-pause:hover .animate-marquee {
  animation-play-state: paused;
}